@using VideoDownloader.Services
@using VideoDownloader.Services.Video
@model DownloadsModel

@{
    ViewData["Title"] = "Downloadfortschritt";
}

<div class="text-center">
    @{
        foreach (var job in Model.JobProgresses)
        {
            <div id="@job.JobId.ToString()" class="card">
                <div class="card-body margin-bottom-5">
                    <div class="info-block">
                        <h5>@job.Title</h5>
                        @* Todo: Move this down to the button *@
                        <h5 id="state">@job.FriendlyState</h5>
                    </div>
                    <div class="progress">
                        <div id="progressBar" class="progress-bar @(job.State != JobState.Done ? "progress-bar-striped progress-bar-animated" : "") " role="progressbar" style="width: @job.Progress%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">@job.Progress%</div>
                    </div>
                    @* Todo: make this stuff be generated in javascript. Wire it up to the methods in code. *@
                    @if (job.State == JobState.Done)
                    {
                        <div class="button-box">
                            <button class="btn btn-danger">Delete</button>
                        </div>
                    }
                    else
                    {
                        <div class="button-box">
                            <button class="btn btn-danger">Cancel</button>
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>
<script>
window.setInterval(update, 100);
function update() {
  $.getJSON("/Downloads?json=true").done( function( data ) {
    $.each(data.jobProgresses, function(key, val) {
      progressNode = $("#" + val.jobId + " #progressBar");
      progressNode.css("width", val.progress + "%");
      progressNode.html(val.progress + "%");
      
      stateNode = $("#" + val.jobId + " #state");
      stateNode.html(val.friendlyState)
      
      if (val.state === 4){
          progressNode.removeClass("progress-bar-striped progress-bar-animated");
          progressNode.addClass("bg-success")
      }
          
      })
  })
}
</script>